[alias]
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	tree = !git lg --graph
	unstage = reset HEAD
	last = log -1 HEAD
	visual = !gitk
	st = status
	uncommit = reset --soft HEAD^
	progress = diff --stat
	pg = diff --shortstat
[color]
	ui = auto
[core]
	editor = vim
# comment following lines if your git version is less than v1.7.11
# for more information visit this link <https://github.com/git/git/blob/master/Documentation/RelNotes/1.7.11.txt>
[push]
	default = simple
